.container {
  .selection-commiitee-way {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    img {
      width: 80%;
      height: 450px;
    }
  }



  .contact-content {
    width: 100%;
    padding: 2%;
    text-align: left;

    h1 {
      margin-bottom: 2%;
    }

    h5 {
      font-weight: bold;
    }

    div {
      li {
        list-style: none;
      }
    }
  }
}
