.container {
  .contact-content {
    width: 100%;
    padding: 2%;
    text-align: left;

    h1 {
      margin-bottom: 2%;
    }

    h5 {
      font-weight: bold;
    }

   .contacts {
      margin: 0 auto;
      width: 20%;
    }
  }
}




    @media screen and (max-width: 900px) {
    .container {
  .contact-content {
   h1 {
   	    margin-bottom: 25px;
font-size: 25px;
    }
.contacts{
	width: 100%;

    h5 {
font-size: 15px;
    }
  .info {
  	font-size: 13px;

  }
   }
  }
}
    }
