.main-footer {
  height: auto;
  max-height: 400px;
  background: #05384d !important;
  color: #fff;
  display: flex;

  .main-footer__layout {
    padding: 0 5%;
    margin: 0 auto;

    .footer_menu {
      font-size: 15px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      //width: 40%;

      .footer-contacts {
        border-bottom: 1px solid #fff;

        .footer-contacts__header {
          padding: 1%;
          border-bottom: 1px solid white;
          margin-top: 10px;
        }
        li {
          width: 100%;
          list-style: none;
          font-size: 14px;
          display: flex;
          padding: 6px;
          a {
            color: #fff;
            i {
              width: 40px;
              text-decoration: none;
            }
            .footer-contacts__text {
              width: 70%;
              max-width: 70%;
            }
          }
        }
      }

      .footer-copyright {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 25px 5%;

        .row {
          display: block;
          width: 100%;
          text-align: left;
          a {
            color: #fff;
          }

          .responsible {
            margin: 0 2%;
          }
        }
      }
    }

    .footer-map {
      width: 60%;
      margin: 5%
    }

  }

}


@media screen and (max-width: 700px) {
.main-footer {
  .main-footer__layout {


      .footer-copyright {

        .row {
        font-size: 10px;
          a {
            color: #fff;
          }

          .responsible {
            margin: 0 2%;
          }
        }
      }
    .footer_menu {

      .footer-contacts {


        .footer-contacts__header {
        font-size: 13px;
        }
        li {
          font-size: 13px;
          a {
            i {
            }
            .footer-contacts__text {
              font-size: 12px;
            }
          }
        }
      }
    }
  .footer-map {
    margin: 17%;
    }
  }
}
}


@media screen and (max-width: 400px) {
.main-footer {
  .main-footer__layout {
    .footer_menu {

      .footer-contacts {


        .footer-contacts__header {
        font-size: 13px;
        }
        li {
          font-size: 13px;
          a {
            i {
            }
            .footer-contacts__text {
              font-size: 8px;
            }
          }
        }
      }
    }
  .footer-map {
    margin: 26% 7%;
    }
  }
}
}
