header {
  background: #05384d;
}

.header-toolbar {
  background: rgba(3, 39, 53, 0.85) !important;
  z-index: 1;
  position: absolute;
  .toolbar__content {
    height: 100% !important;
    width: 95%;
    margin: 0 auto;
    .layout {
      width: 80%;
    }

    .signing {
      display: flex;
      width: 20%;
      justify-content: flex-end;
      a {
        display: inline-block;
        margin: 15px;
      }
    }
    .languages {
      display: flex;
      width: 20%;
      height: 80%;
      justify-content: center;
      align-items: center;
      margin: 0;
      .language-item {
        width: 12%;
        display: flex;
        color: #fff;
        justify-content: center;
      }
    }
  }

}

.header-bar {
  /*background-color: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
 */
  .logo {
    display: flex;
    justify-content: center;
    .name {
      margin: 23px 0px 0px 5px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      color: #fff;

      font-size: 18px;
    }
    img {
      height: 50px;
      display: inline-flex;
      margin-top: 12px;
    }

  }
}

.nav-list {
  background: #032735;
  list-style-type: none;
  margin: 0;
  padding: 0;
  .nav-item {
     display: inline-block;
    margin: 10px;
    a {

      display: inline-block;
    
    }
  }
}

@media (max-width: 1030px) {
  .header-bar{
      .logo{
     .name{
      display: none;
    }
  }
  }

  .nav-list {
    .nav-item {
      display: list-item;
      margin: 0;
      a {
        display: inline-block;
      }
    }
  }
  .header-toolbar {

    .toolbar__content {
      .languages {
        .language-item {
          width: 21%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .nav-list {
    .nav-item {
       
        .btn
       {
      font-size: 17px;
      }
      }
    }
  
  .header-toolbar {
    .toolbar__content {
      .languages {
        .language-item {
          width: 27%;
        }
      }
    }
  }
}

@media (max-width: 480px) {
 .nav-list {
    .nav-item {
       
        .btn
       {
      font-size: 13px;
      }
      }
    }

  .header-bar {
    .logo {
      display: inline-block;
      .name {
        font-size: 15px;
      }
    }
  }
  .header-toolbar {
    .toolbar__content {
      .languages {
        .language-item {
          width: 35%;
        }
      }
    }
  }
}

@media (max-width: 420px) {



  .header-toolbar {
    .header-bar{
      .logo{
        img{
          height: 35px;
        }
      }
    }
    .toolbar__content {
      height: 0px;
      .signing {
        display: -webkit-inline-box;
        width: 70%;
        justify-content: flex-end;
        .btn{
              padding: 0px;
    font-size: 12px;
    margin: 0px;
        }
      }
      .languages {
        display: none;
      }
    }
  }
  .nav-list {
    .nav-item {
     display: inline-flex;
      .btn{
        font-size: 12px;
        margin: 0;
        padding: 0;
      }
     }
    }
  }


