@import '../../node_modules/vuetify/dist/vuetify.min.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
@import './specialities';
@import './footer';
@import './mainpage';
@import './header';
@import './fonts';
@import './admission';
@import './contact';
@import './olympiad';
@import './information-vidget';
