@import './imports';
html, head, body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  /*maybe 80% width here*/
}

.application--wrap {
  background: #05384d;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width:100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}
