@import '../../node_modules/vuetify/dist/vuetify.min.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
@import './specialities';
@import './footer';

.application--wrap {
  background: #f4f4f4;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width:100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

