@import 'imports';

//transitions
.slide-fade-enter-active {
  transition: all .5s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0.5;
}
.section-title {
  //font-family: "Century Gothic";
  width: 100%;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: $page_padding !important;
}

html, head, body {
  margin: 0;
  padding: 0;
}

*:disabled {
  cursor: not-allowed !important;
}

.btn {
  height: auto;
}

.container {
  display: flex;
  max-width: 100%;
  background: #fff;
}

.App {
  font-family: Roboto, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  /*maybe 80% width here*/
}

.application--wrap {
  background: #fff;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}
