.announcements {
  padding: 35px 10% !important;
  background: rgb(79, 80, 85);
  font-size: 1.2rem;

  .item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    .item {
      overflow: hidden;
      flex-direction: column;
      padding: 10px !important;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:hover {
        -moz-box-shadow: 3px 3px 4px 4px #ccc;
        -webkit-box-shadow: 3px 3px 4px 4px #ccc;
        box-shadow: 3px 3px 4px 4px #ccc;
      }

      img {
        width: 100%;
        max-height: 220px;
        margin-bottom: 5px;
        overflow: hidden;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }

      .item-content {
        padding: 10px 5%;
        background: $default_white;

        h4 {
          font-weight: bold;
          font-size: 0.9em;
          margin-top: 15px;
          height: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .announcements {
    font-size: 1rem;
  }
}


