.announcements {
  padding: 35px 10% !important;
  background: rgb(79, 80, 85);

  .item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /*margin: 0 auto;*/

    //color: #fff;

    .item {
      overflow: hidden;
      flex-direction: column;
      background: #fff;
      margin: 10px;
      padding: 0 !important;
      width: 31%;
      cursor: pointer;
      ////-moz-box-shadow:    inset 0 0 10px #dfdfdf;
      ////-webkit-box-shadow: inset 0 0 10px #dfdfdf;
      //box-shadow:         inset 0 0 20px #111111;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:hover {
        -moz-box-shadow: 3px 3px 4px 4px #ccc;
        -webkit-box-shadow: 3px 3px 4px 4px #ccc;
        box-shadow: 3px 3px 4px 4px #ccc;
      }

      p {
        font-size: 13px;
        height: 55px;
        margin: 0;
        overflow: hidden;
        max-height: 60px;
      }
      img {
        width: 100%;
        max-height: 220px;
        margin-bottom: 10px;
      }

      .item-content {
        padding: 10px 5%;

        h4 {
          font-weight: bold;
          font-size: 15px;
          margin-top: 15px;
          height: 50px;
        }

        .continued {
          height: 20px;
          font-size: 13px;
          padding-bottom: 10%;
          border-bottom: 2px solid #ededed;
        }

        .read-more-button {
          margin-top: 5%;
          height: 100%;
        }
      }
    }
  }
}


