.news {
  display: flex;
  flex-wrap: wrap;
  background: rgb(245, 247, 249);
  width: 100%;
  padding: 50px 10%;
  font-size: 1.2rem;

  .news-layout {
    padding: 2vh 3% !important;
   // background: url('../assets/img/testBG.jpg');
    height: auto;
    background-repeat: no-repeat;
    min-width: 100%;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top;

    .post {
      display: flex;
      height: 30rem;
      flex-direction: column;
      border: 1px solid rgb(199, 201, 203);
      border-collapse: collapse;
      background: rgba(38, 39, 47, 0.7);
      justify-content: center;
      padding: 10vh 5%;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      &:hover {
        background: rgba(38, 39, 47, 0.9);
      }

      .date {
        width: 70%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        margin: 0 auto;

        .link {
          color: $default_white;
          font-size: 1.1em;
          &:hover {
            text-decoration: none;
            opacity: 0.8;
          }
        }
      }
      .title {
        width: 100%;
        font-size: 1em;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: center;

        a {
          color: $default_white;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            opacity: 0.8;
          }
        }
      }

      .description {
        display: flex;
        align-items: flex-start;
        font-weight: bold;
        height: 200px;
        border-bottom: 1px solid $default_white;
        p {
          padding: 10px 5%;
          font-size: 0.9em;
          max-height: 100%;
          color: $default_white;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .news {
    font-size: 1rem;
  }
}

