.specialities {
  .specialities-toolbar {
    border-bottom: 1px solid #384d62;
    width: 100%;

    .toolbar__content {
      justify-content: center;
    }

    .toolbar-title {

    }

    .toolbar-buttons {

    }
  }

  .information-tab {
    overflow: auto;
  }

  .specialities-tabs {
    height: 70px;
    div {
      overflow: hidden;
    }

    .tabs__li {
      flex: 0 1 100%;
      .tabs__item {
        margin-left: 0 !important;
      }
    }
  }

  .tabs__items {
    .datatable {
      width: 95%;
      margin: auto;

      tr {
        th, td {
          text-align: center !important;
          vertical-align: middle;
          padding: 0.5%;
          height: auto;
        }
      }
    }
  }
  .specialities-content {
    background: #fff;
    padding: 2% 5%;

    div {
      margin: 0 auto;
      width: 35%;
    }
  }

}

.blue-background {
  background: #05384d !important;
}

.specialities-content {

  padding: 10px;
  text-align: left;
  h1 {
    text-align: center;
  }

  h5 {
    font-weight: bold;
  }

}
