.specialities {
  .title {
    width: 40%;
  }
  .information-tab {
    overflow: auto;
  }
  .specialities-toolbar {
    border-bottom: 1px solid #384d62;
  }
  .specialities-tabs {
    height: 70px;
    div {
      overflow: hidden;
    }
  }
  .tabs__items {
    .datatable {
      tr {
        th, td {
          text-align: center !important;
          vertical-align: middle;
          padding: 0.5%;
          height: auto;
        }
      }
    }
  }
  .specialities-content {
    background: #fff;
  }

}

.blue-background {
  background: #05384d !important;
}
