.specialities {
  .specialities-toolbar {
    border-bottom: 1px solid #384d62;
    width: 100%;

    .toolbar__content {
      justify-content: center;
    }

    .toolbar-title {

    }

    .toolbar-buttons {

    }
  .title {
    width: 40%;
  }

  .information-tab {
    overflow: auto;
  }

  .specialities-tabs {
    height: 70px;
    div {
      overflow: hidden;
    }
  }

  .tabs__items {
    .datatable {
      width: 94%;
      margin: auto;

      tr {
        th, td {
          text-align: center !important;
          vertical-align: middle;
          padding: 0.5%;
          height: auto;
        }
      }
    }
  }
  .specialities-content {
    background: #fff;
  }

}

.blue-background {
  background: #05384d !important;
}

.specialities-content {

	padding: 10px;
text-align: left;
	h1{
			text-align: center;
		}


	h5{
		font-weight: bold;
		}


}
