.TheContacts {
  background: #fff;
  .selection-committee-way {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 500px;
    height: 450px;
    img {
      width: 80%;
      height: 70vh;
    }
  }



  .contact-content {
    width: 100%;
    padding: 2%;
    text-align: left;

    ul {
      list-style-type: none;
    }

    h1 {
      margin-bottom: 2%;
    }

    h5 {
      font-weight: bold;
    }

    .contacts {

    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    .contact-content {
      h1 {
        margin-bottom: 25px;
        font-size: 25px;
      }
      .contacts {
        width: 100%;

        h5 {
          font-size: 15px;
        }
        //.info {
        //  font-size: 13px;
        //}
      }
    }
  }
}
