.TheFooter {
  height: 100% !important;
  background: rgba(3, 39, 53, 0.85) !important;
  color: #fff !important;
  display: flex;

  .TheFooter-layout {
    padding: 0 5%;
    margin: 0 auto;

    .TheFooter-copyright {
      border-top: 2px solid #05384d;
      height: 100%;
      display: flex;
      flex-direction: row;
      padding: 25px 5%;
      width: 100%;

      .TheFooter-copyright_row {
        text-align: center;
        font-size: 12px;
        a {
          color: #fff;
        }

        .responsible {
          margin: 0 1%;
        }
      }
    }

    .TheFooter-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 0 5%;

      .TheFooter-column-link {
        display: flex;
        color: #fff;
        .TheFooter_logo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          .TheFooter_logo_image {
           // max-width: 70px;
            height: 50px;
          }
          .TheFooter_logo_text {
            margin-top: 5px;
            max-width: 70%;
          }
        }
      }

      .TheFooter_menu {
        font-size: 15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        //width: 40%;

        .TheFooter-contacts {

          .TheFooter-contacts__header {
            padding: 1%;
            //border-bottom: 1px solid white;
            margin-top: 10px;
          }
          //font-size: 10px;
          li {
            width: 100%;
            list-style: none;
            font-size: 14px;
            display: flex;
            padding: 6px;
            justify-content: center;
            a {
              color: #fff;
              font-size: 12px;
              min-width: 37%;
              text-align: left;
              display: flex;
              align-items: flex-end;
              i {
                width: 40px;
                text-decoration: none;
                margin-left: 2%;
                &:hover {
                  text-decoration: none !important;
                }
              }
              .TheFooter-contacts__text {
                width: 100%;
                max-width: 100%;
                margin-left: 3%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .TheFooter {

    .TheFooter-layout {

      .layout-menu {

        .menu-contacts {

          .contacts-header {
            font-size: 13px;
          }

          li {
            font-size: 13px;

            .footer-link {
              .contacts-text {
                font-size: 12px;
              }
            }
          }
        }
      }

      .layout-copyright {

        .row {
          font-size: 10px;

          a {
            color: #fff;
          }

          .responsible {
            margin: 0 2%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .TheFooter {

    .TheFooter-layout {

      .layout-menu {

        .menu-contacts {

          .contacts-header {
            font-size: 13px;
          }

          li {
            font-size: 13px;

            .footer-link {
              .contacts-text {
                font-size: 8px;
              }
            }
          }
        }
      }
    }
  }
}
