.TheHeader {

  .solid-navbar {
    &.transformed {
      background: rgb(47, 48, 48);
      padding: 10px 10%;
      .active {
        .item-link {
          color: rgba(255, 255, 255, 0.5) !important;
        }
      }
      .item-link {
        color: #fff;
      }
    }
    .item-link {
      color: rgb(47, 48, 48);
      -webkit-transition: opacity 0.15s ease-in-out;
      -moz-transition: opacity 0.15s ease-in-out;
      -ms-transition: opacity 0.15s ease-in-out;
      -o-transition: opacity 0.15s ease-in-out;
      transition: opacity 0.15s ease-in-out;
      &:hover {
        text-decoration: none;
        //color: rgb(222, 224, 226);
        opacity: 0.7;
      }
    }

    z-index: 10;
    transition: all 0.6s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    // background: rgb(47, 48, 48);
    font-weight: bold;
    .logo {
      display: flex;
      flex: 1 1 25%;
      justify-content: flex-start;
      font-weight: bold;
      align-items: center;
      .item-link {
        display: flex;
        .logo-img {
          height: 50px;
          display: inline-flex;
        }

        .logo-name {
          margin-left: 3%;
          font-weight: bold;
        }
      }
    }

    .navigation {
      font-size: 16px;
      display: flex;
      flex: 1 1 100%;
      justify-content: flex-end;
      margin: 0;

      .item {
        display: inline-block;
        margin: 15px;
        color: #fff;
        &.active {
          .item-link {
            color: rgba(47, 48, 48, 0.5);
          }

        }
      }
    }
  }

  .default-navbar {
    &.transformed {
      background: rgb(47, 48, 48);
      padding: 10px 10%;
    }
    .item-link {
      color: #fff;
      -webkit-transition: opacity 0.15s ease-in-out;
      -moz-transition: opacity 0.15s ease-in-out;
      -ms-transition: opacity 0.15s ease-in-out;
      -o-transition: opacity 0.15s ease-in-out;
      transition: opacity 0.15s ease-in-out;
      &:hover {
        text-decoration: none;
        opacity: 0.7;
      }
    }

    z-index: 10;
    transition: all 0.6s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgba(0, 0, 0, 0.25);
    font-weight: bold;
    .logo {
      display: flex;
      flex: 1 1 25%;
      justify-content: flex-start;
      font-weight: bold;
      align-items: center;
      .item-link {
        display: flex;
        .logo-img {
          height: 50px;
          display: inline-flex;
        }

        .logo-name {
          margin-left: 3%;
          font-weight: bold;
        }
      }
    }

    .navigation {
      font-size: 16px;
      display: flex;
      flex: 1 1 100%;
      justify-content: flex-end;
      margin: 0;

      .item {
        display: inline-block;
        margin: 15px;
        color: #fff;

      }
    }
  }

  .test-name {
    margin-top: 35vh;
    width: 60%;
    font-weight: bold;
  }

  .test-subheading {
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    margin-top: 5vh;
    padding-top: 15px;
    font-weight: bold;
  }

  .scroll-down-icon {
    color: #fff;
    margin-top: 20vh;
    font-size: 30px;
    cursor: pointer;
  }

  //.TheHeader-toolbar {
  //  background: rgba(3, 39, 53, 0.85) !important;
  //  z-index: 1;
  //  margin-bottom: 5px;
  //
  //  .toolbar-bar {
  //    .bar-logo {
  //      display: flex;
  //      justify-content: center;
  //
  //      .bar-name {
  //        margin: 23px 0px 0px 5px;
  //        display: -webkit-inline-box;
  //        display: -ms-inline-flexbox;
  //        display: inline-flex;
  //        color: #fff;
  //
  //        font-size: 18px;
  //      }
  //
  //      img {
  //        height: 50px;
  //        display: inline-flex;
  //        margin-top: 12px;
  //      }
  //    }
  //  }
  //
  //  .toolbar-auth {
  //    display: flex;
  //    width: 20%;
  //    justify-content: flex-end;
  //
  //    a {
  //      display: inline-block;
  //      margin: 15px;
  //    }
  //  }
  //}
  //
  //.TheHeader-content {
  //  .content-parallaxImg {
  //    height: 70vh !important;
  //  }
  //}
  //
  //.TheHeader-nav {
  //  .nav-list {
  //    background: #032735;
  //    list-style-type: none;
  //    margin: 0 auto;
  //    width: 90%;
  //    padding: 0;
  //    -webkit-border-radius: 5px;
  //    -moz-border-radius: 5px;
  //    border-radius: 5px;
  //
  //    .nav-item {
  //      display: inline-block;
  //      margin: 5px;
  //
  //      a {
  //        display: inline-block;
  //      }
  //    }
  //  }
  //}
}

@media (max-width: 1030px) {
  .TheHeader {
    .default-navbar {
      .logo {
        flex: auto;
        .item-link {
          .logo-img {
            height: 36px;
          }
        }
      }
    }
    .logo {
      .item-link {
        .logo-name {
          font-size: 13px;
        }
      }
    }
  }
  .toolbar-bar {
    .bar-logo {
      .bar-name {
        display: none;
      }
    }
  }

  .nav-list {
    .nav-item {
      display: list-item;
      margin: 0;
      a {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 890px) {
  .TheHeader {
    .default-navbar {
      .navigation {
        font-size: 13px;
      }
      .logo {
        .item-link {
          .logo-img {
            height: 30px;
          }
        }
      }
    }
  }
  .nav-list {
    .nav-item {
      .btn {
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 700px) {
  .TheHeader {
    .default-navbar {
      padding: 0% 10%;
      .navigation {
        font-size: 17px;
        .item{
          display: block;
          margin: 10px;
        }
      }
      .logo {
        .item-link {
          display: none;
        }
      }
    }
  }

}

@media (max-width: 480px) {
  .TheMain {
    .parallax_section {
      .parallax_section_content {
        height: 0vh;
        .project-name {
          width: 100% ;
        }
      }
    }
  }
  .TheHeader {
    .default-navbar {
      .navigation {
        font-size: 9px;
        margin: 5px;
      }
      .logo {
        .item-link {
          .logo-img {
          }
        }
      }
    }
  }
  .header-bar {
    .bar-logo {
      display: inline-block;
      .bar-name {
        font-size: 15px;
      }
    }
  }

  .nav-list {
    .nav-item {
      .btn {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 420px) {
  .header-toolbar {
    .header-bar {
      .bar-logo {
        img {
          height: 35px;
        }
      }
    }
    .signing {
      display: -webkit-inline-box;
      width: 70%;
      justify-content: flex-end;
      .btn {
        padding: 0px;
        font-size: 12px;
        margin: 0px;
      }
    }
  }

  .nav-list {
    .nav-item {
      display: inline-flex;
      .btn {
        font-size: 12px;
        margin: 0;
        padding: 0;
      }
    }
  }

}

@media (max-width: 360px) {
  .TheHeader {
    .default-navbar {
      .navigation {
        font-size: 6px;
      }
    }
  }
}



