.menu__content {
  position: fixed;
  top: 60px !important;
  width: 100% !important;
  left: 0 !important;
  max-width: 100% !important;

  .list {
    background: $default_grey;

    li {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      a {
        padding: 10px;
        text-align: center;
        width: 100%;
        color: $default_white !important;
        font-weight: bold;

        div {
          text-align: center;
        }
      }
    }
  }
}

.TheHeader {
  font-size: 1.5rem;
  nav {
    &.transformed {
      font-size: 0.95em;
    }
    z-index: 10;
    transition: all 0.6s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    font-weight: bold;
    .logo {
      display: flex;
      flex: 0 0 auto;
      justify-content: flex-start;
      font-weight: bold;
      align-items: center;
      .item-link {
        display: flex;
        .logo-img {
          height: 2em;
          display: inline-flex;
        }

        .logo-name {
          font-size: 0.8em;
          margin: 0;
          width: 50%;
          font-weight: bold;
        }
      }
    }

    .navigation {
      font-size: 0.7em;
      display: flex;
      flex: 1 1 100%;
      justify-content: flex-end;
      margin: 0;

      .item {
        display: inline-block;
        margin: 15px;
        color: #fff;
        &.active {
          .item-link {
            color: rgba(47, 48, 48, 0.5);
          }

        }
      }
    }

    .mini-navigation {
      display: none !important;

      .navigation-list {
        position: fixed;
        width: 100%;
        background: $default_grey;
        top: 3.9rem;
        left: -1500px;
        right: 0;
        transition: left .4s ease-in-out;
        font-size: 0.9em;

        li {
          &:not(:last-child) {
            border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
          }
          a {
            color: $default_white !important;
            font-size: 0.9em;
            div {
              text-align: center;
              font-weight: bold;
            }
          }
        }
        &.active {
          left: 0;
        }
      }
      .navigation-display-icon {
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .solid-navbar {
    &.transformed {
      background: rgb(47, 48, 48);
      padding: 10px 10%;
      .active {
        .item-link {
          color: rgba(255, 255, 255, 0.5) !important;
        }
      }
      .item-link {
        color: #fff;
      }

      .mini-navigation {
        .navigation-display-icon {
          color: $default_white;
        }
      }
    }
    .item-link {
      color: rgb(47, 48, 48);
      -webkit-transition: opacity 0.15s ease-in-out;
      -moz-transition: opacity 0.15s ease-in-out;
      -o-transition: opacity 0.15s ease-in-out;
      transition: opacity 0.15s ease-in-out;
      &:hover {
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }

  .default-navbar {
    &.transformed {
      background: rgb(47, 48, 48);
      padding: 10px 10%;
    }
    .item-link {
      color: #fff;
      -webkit-transition: opacity 0.15s ease-in-out;
      -moz-transition: opacity 0.15s ease-in-out;
      -o-transition: opacity 0.15s ease-in-out;
      transition: opacity 0.15s ease-in-out;
      &:hover {
        text-decoration: none;
        opacity: 0.7;
      }
    }

    .mini-navigation {
      .menu__activator {
        background: rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 5px;
        font-size: 1.2em;
        cursor: pointer;
        width: auto;
      }
      .navigation-display-icon {
        color: #fff;
        padding: 1px 10px;
        cursor: pointer;
        :hover {
          opacity: 0.8;
        }
      }
    }
  }

  .test-name {
    margin-top: 35vh;
    width: 60%;
    font-weight: bold;
  }

  .test-subheading {
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    margin-top: 5vh;
    padding-top: 15px;
    font-weight: bold;
  }

  .scroll-down-icon {
    color: #fff;
    margin-top: 20vh;
    font-size: 30px;
    cursor: pointer;
  }

}

@media (max-width: 992px) {
  .TheHeader {
    nav {
      .navigation {
        display: none;
      }
      .mini-navigation {
        display: flex !important;
        flex: 1 1 100%;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}

@media (max-width: 768px) {
  .TheHeader {
    font-size: 1.3rem;
  }
}
