 .left-wrap {
    display: flex;
    flex-direction: column;
    //width: 70%;
    .greeting {
      padding: 2%;
      border-bottom: 2px solid #ededed;
      .subheading {
        text-align: left;
        margin-top: 1%;
        font-size: 18px !important;
        text-align: left !important;
      }
    }
  }

  .right-wrap {
   margin-top: -30px;
    display: flex;
    //width: 30%;
    .news {
      border-left: 1px solid #eaeaea;
      display: flex;
      margin-top: 35px;
      flex-wrap: wrap;

      .blog-news {
        margin-left: 10px;

        .title {
          display: block;
          color: #fff;
          background: rgba(3, 39, 53, 0.85) !important;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          border-bottom: 2px solid #ededed;
          margin: 0 auto;
          padding: 10px;
        }

        .post {
          display: flex;
          flex-direction: column;
          cursor: pointer;
          -webkit-transition:  border 0.3s ease;
          -moz-transition:  border 0.3s ease;
          -o-transition:  border 0.3s ease;
          -ms-transition: border 0.3s ease;
          transition: border 0.3s ease;
          &:hover {
            border-top: 2px solid #e7e7e7;
            border-bottom: 2px solid #e7e7e7;
          }

          h4 {
            width: 80%;
            font-size: 16px;
            padding-top: 11px;
            font-weight: bold;
            text-align: left;
            a {
              color: #05384d;
              text-decoration: none;
            }

            a:hover {
              text-decoration: underline;
              color: #032735;
            }
          }

          .date {
            padding: 7px 7px 7px 0px;
            display: flex;

            time {
              font-size: 16px;
              background: #fff;
              font-weight: bold;
              display: flex;
              align-items: center;
              border: 1px solid rgba(3, 39, 53, 0.85);
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
              padding: 5px 1%;
              margin: 0px 16px 0px 0px;
              width: 30%;
            }
          }

          .description {
            text-align: start;
            display: inline-flex;
            margin-left: 30%;
          }
        }
      }
    }
  }


@media (max-width: 1260px) {

  .container {
    .left-wrap {

      .item-container {

        .item {
          width: 100%;

          .item-content {

            h4 {
              font-size: 15px;
              margin-top: 15px;
              height: 50px;
            }

            .continued {
              padding-bottom: 5%;
            }
            .btn__content {
              font-size: 12px;

            }
            .read-more-button {
              font-size: 12px;
            }
          }
        }
      }
    }
    .right-wrap {
      .news {
        .blog-news {
          margin-left: 10px;
          .post {
            .date {
              time {
                font-size: 13px;
              }
            }

          }
        }
      }
    }
  }

}

@media screen and (max-width: 900px) {
  .container {
    .left-wrap {
      .greeting {

        .subheading {
          margin-top: 1%;
          font-size: 13px !important;
        }
      }

      .item-container {
        .item {
          .item-content {

            h4 {
              font-size: 15px;
              margin-top: 0px;
              height: 100%;
            }
            .continued {
              padding-bottom: 5%;
            }
            .btn__content {
              font-size: 8px;
            }
            .read-more-button {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}
  .right-wrap {

    .news {
      .blog-news {
        .post {
          h4 {
            width: 100%;
            font-size: 14px;
            padding-top: 11px;
            font-weight: bold;
          }
        }
        .right-wrap {
          .news {
            .blog-news {
              .post {
                h4 {
                  width: 100%;
                  font-size: 14px;
                  padding-top: 11px;
                  font-weight: bold;
                }
              .date {
                padding-top: 10px;
                display: block;
                time {
                  height: 10%;
                }
              }
                .description {
                  text-align: start;
                  display: inline-flex;
                  margin-left: 0%;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 600px) {
      .container {
        .right-wrap {
          .news {
            .blog-news {
              .post {
                h4 {
                  width: 100%;
                  font-size: 14px;
                  padding-top: 11px;
                  font-weight: bold;
                }

                .date {
                  time {
                    display: table-footer-group;
                  }
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 440px) {
      .container {
        .left-wrap {

          .item-container {
            .item {
              .item-content {

                .btn__content {
                  font-size: 8px;
                  padding: 0px;

                }
                .read-more-button {
                  font-size: 8px;
                }

              }
            }
          }
        }
        .right-wrap {
          .news {
            .blog-news {
              margin-left: 5px;
              .title {
                padding: 1px;
                font-size: 10px !important;
              }
              .post {
                h4 {
                  width: 100%;
                  font-size: 7px;
                  padding-top: 11px;
                  font-weight: bold;
                }

                .date {
                  padding: 5px 10px;
                  h4 {
                    a {
                      font-size: 10px;
                    }
                  }
                  time {
                    font-size: 10px;
                    display: table-footer-group;
                  }
                }
                .description {
                  p {
                    font-size: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 340px) {
      .container {

        .left-wrap {
          .greeting {

            .subheading {
              font-size: 13px !important;
            }
          }
        }
        .right-wrap {
          .news {
            .blog-news {
              margin-left: 5px;
              .title {
                display: inline-flex;
                padding: 5px;
              }
              .post {

                .date {
                  padding: 5px 10px;
                  h4 {
                    padding-top: 0px;
                    a {
                      font-size: 7px;
                    }
                  }
                  time {
                    font-size: 10px;
                    display: table-footer-group;
                  }
                }
                .description {
                  p {
                    font-size: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
