.parallax_section {
  width: 100%;
  background-size: cover !important;

  .parallax_section_content {
    height: 100vh !important;
    font-family: "Century Gothic";
    z-index: 5;

    .project-name {
      margin-top: 30vh;
      width: 60%;
      font-weight: bold;
    }

    .project-subheading {
      border-top: 2px solid rgba(255, 255, 255, 0.6);
      margin-top: 5vh;
      padding-top: 15px;
      font-weight: bold;

    }

    .scroll-down-icon {
      color: #fff;
      margin-top: 30vh;
      font-size: 30px;
      cursor: pointer;
      &:hover {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

}

.TheMain {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  background: #fff;

  .greeting {
    padding: 59px 10%;
    .subheading {
      margin-top: 1%;
      font-size: 18px !important;
      text-align: left !important;
    }
  }

}

@media (max-width: 1260px) {

  .container {
    .left-wrap {

      .item-container {

        .item {
          width: 100%;

          .item-content {

            h4 {
              font-size: 15px;
              margin-top: 15px;
              height: 50px;
            }

            .continued {
              padding-bottom: 5%;
            }
            .btn__content {
              font-size: 12px;

            }
            .read-more-button {
              font-size: 12px;
            }
          }
        }
      }
    }
    .right-wrap {
      .news {
        .blog-news {
          margin-left: 10px;
          .post {
            .date {
              time {
                font-size: 13px;
              }
            }

          }
        }
      }
    }
  }

}

@media screen and (max-width: 900px) {
  .container {
    .left-wrap {
      .greeting {

        .subheading {
          margin-top: 1%;
          font-size: 13px !important;
        }
      }

      .item-container {
        .item {
          .item-content {

            h4 {
              font-size: 15px;
              margin-top: 0px;
              height: 100%;
            }
            .continued {
              padding-bottom: 5%;
            }
            .btn__content {
              font-size: 8px;
            }
            .read-more-button {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}

.right-wrap {

  .news {
    .blog-news {
      .post {
        h4 {
          width: 100%;
          font-size: 14px;
          padding-top: 11px;
          font-weight: bold;
        }
      }
      .right-wrap {
        .news {
          .blog-news {
            .post {
              h4 {
                width: 100%;
                font-size: 14px;
                padding-top: 11px;
                font-weight: bold;
              }
              .date {
                padding-top: 10px;
                display: block;
                time {
                  height: 10%;
                }
              }
              .description {
                text-align: start;
                display: inline-flex;
                margin-left: 0%;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .container {
      .right-wrap {
        .news {
          .blog-news {
            .post {
              h4 {
                width: 100%;
                font-size: 14px;
                padding-top: 11px;
                font-weight: bold;
              }

              .date {
                time {
                  display: table-footer-group;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 440px) {
    .container {
      .left-wrap {

        .item-container {
          .item {
            .item-content {

              .btn__content {
                font-size: 8px;
                padding: 0px;

              }
              .read-more-button {
                font-size: 8px;
              }

            }
          }
        }
      }
      .right-wrap {
        .news {
          .blog-news {
            margin-left: 5px;
            .title {
              padding: 1px;
              font-size: 10px !important;
            }
            .post {
              h4 {
                width: 100%;
                font-size: 7px;
                padding-top: 11px;
                font-weight: bold;
              }

              .date {
                padding: 5px 10px;
                h4 {
                  a {
                    font-size: 10px;
                  }
                }
                time {
                  font-size: 10px;
                  display: table-footer-group;
                }
              }
              .description {
                p {
                  font-size: 8px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 340px) {
    .container {

      .left-wrap {
        .greeting {

          .subheading {
            font-size: 13px !important;
          }
        }
      }
      .right-wrap {
        .news {
          .blog-news {
            margin-left: 5px;
            .title {
              display: inline-flex;
              padding: 5px;
            }
            .post {

              .date {
                padding: 5px 10px;
                h4 {
                  padding-top: 0px;
                  a {
                    font-size: 7px;
                  }
                }
                time {
                  font-size: 10px;
                  display: table-footer-group;
                }
              }
              .description {
                p {
                  font-size: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}
