.content-parallaxImg {
  height: 100vh !important;
  font-family: "Century Gothic";
  z-index: 5;

  .test-name {
    margin-top: 35vh;
    width: 60%;
    font-weight: bold;
  }

  .test-subheading {
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    margin-top: 5vh;
    padding-top: 15px;
    font-weight: bold;

  }

  .scroll-down-icon {
    color: #fff;
    margin-top: 20vh;
    font-size: 30px;
    cursor: pointer;
  }
}

.TheMain {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  background: #fff;





  .greeting {
    padding: 59px 10%;
    .subheading {
      margin-top: 1%;
      font-size: 18px !important;
      text-align: left !important;
    }
  }

  .news {
    display: flex;
    flex-wrap: wrap;
    background: rgb(245, 247, 249);
    width: 100%;
    padding: 50px 10%;

    .blog-news {
      margin-left: 10px;

      .title {
        display: block;
        color: #fff;
        background: rgba(3, 39, 53, 0.85) !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border-bottom: 2px solid #ededed;
        margin: 0 auto;
        padding: 10px;
      }

      .post {
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(199, 201, 203);
        border-collapse: collapse;
        background: #fff;
        padding: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        &:hover {

        }
        .image {
          cursor: pointer;
          max-height: 250px;
          overflow: hidden;
          object-fit: cover;
          object-position: top;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          &:hover {
            opacity: 0.7;
          }
        }
        h6 {
          .link {
            color: rgba(47, 48, 48, 0.7);
            &:hover {
              text-decoration: none;
              opacity: 0.8;
            }
          }
          margin: 15px 0;
        }
        h4 {
          width: 100%;
          font-size: 16px;
          margin-bottom: 10px;
          font-weight: bold;
          text-align: center;
          a {
            color: rgb(47, 48, 48);
            text-decoration: none;
            &:hover {
              text-decoration: none;
              opacity: 0.8;
            }
          }
        }

        .description {
          padding: 10px 5%;
          p {
            color: rgb(47, 48, 48);
          }
        }
      }
    }
  }
}

@media (max-width: 1260px) {

  .container {
    .left-wrap {

      .item-container {

        .item {
          width: 100%;

          .item-content {

            h4 {
              font-size: 15px;
              margin-top: 15px;
              height: 50px;
            }

            .continued {
              padding-bottom: 5%;
            }
            .btn__content {
              font-size: 12px;

            }
            .read-more-button {
              font-size: 12px;
            }
          }
        }
      }
    }
    .right-wrap {
      .news {
        .blog-news {
          margin-left: 10px;
          .post {
            .date {
              time {
                font-size: 13px;
              }
            }

          }
        }
      }
    }
  }

}

@media screen and (max-width: 900px) {
  .container {
    .left-wrap {
      .greeting {

        .subheading {
          margin-top: 1%;
          font-size: 13px !important;
        }
      }

      .item-container {
        .item {
          .item-content {

            h4 {
              font-size: 15px;
              margin-top: 0px;
              height: 100%;
            }
            .continued {
              padding-bottom: 5%;
            }
            .btn__content {
              font-size: 8px;
            }
            .read-more-button {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}

.right-wrap {

  .news {
    .blog-news {
      .post {
        h4 {
          width: 100%;
          font-size: 14px;
          padding-top: 11px;
          font-weight: bold;
        }
      }
      .right-wrap {
        .news {
          .blog-news {
            .post {
              h4 {
                width: 100%;
                font-size: 14px;
                padding-top: 11px;
                font-weight: bold;
              }
              .date {
                padding-top: 10px;
                display: block;
                time {
                  height: 10%;
                }
              }
              .description {
                text-align: start;
                display: inline-flex;
                margin-left: 0%;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .container {
      .right-wrap {
        .news {
          .blog-news {
            .post {
              h4 {
                width: 100%;
                font-size: 14px;
                padding-top: 11px;
                font-weight: bold;
              }

              .date {
                time {
                  display: table-footer-group;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 440px) {
    .container {
      .left-wrap {

        .item-container {
          .item {
            .item-content {

              .btn__content {
                font-size: 8px;
                padding: 0px;

              }
              .read-more-button {
                font-size: 8px;
              }

            }
          }
        }
      }
      .right-wrap {
        .news {
          .blog-news {
            margin-left: 5px;
            .title {
              padding: 1px;
              font-size: 10px !important;
            }
            .post {
              h4 {
                width: 100%;
                font-size: 7px;
                padding-top: 11px;
                font-weight: bold;
              }

              .date {
                padding: 5px 10px;
                h4 {
                  a {
                    font-size: 10px;
                  }
                }
                time {
                  font-size: 10px;
                  display: table-footer-group;
                }
              }
              .description {
                p {
                  font-size: 8px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 340px) {
    .container {

      .left-wrap {
        .greeting {

          .subheading {
            font-size: 13px !important;
          }
        }
      }
      .right-wrap {
        .news {
          .blog-news {
            margin-left: 5px;
            .title {
              display: inline-flex;
              padding: 5px;
            }
            .post {

              .date {
                padding: 5px 10px;
                h4 {
                  padding-top: 0px;
                  a {
                    font-size: 7px;
                  }
                }
                time {
                  font-size: 10px;
                  display: table-footer-group;
                }
              }
              .description {
                p {
                  font-size: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}
