.parallax_section {
  width: 100%;
  height: 100%;

  .parallax_section_content {
    height: 100vh !important;
    font-family: "Century Gothic", 'sans-serif';
    z-index: 1;
    position: relative;
   // background-image: url('../assets/img/test3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    font-size: 1.5rem;

    .project-name {
      margin-top: 35vh;
      width: 60%;
      font-weight: bold;
      font-size: 1.8em;
      text-align: center;
    }

    .project-subheading {
      border-top: 2px solid rgba(255, 255, 255, 0.6);
      margin-top: 1vh;
      padding: 3vh 0;
      font-weight: bold;
    }

    .scroll-down-icon {
      color: #fff;
      margin-top: 15vh;
      font-size: 2rem;
      cursor: pointer;
      &:hover {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

}

.TheMain {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  background: #fff;
  font-size: 1.5rem;

  .greeting {
    padding: 59px 10%;
    .subheading {
      margin-top: 1%;
      font-size: 1em !important;
      text-align: left !important;
    }
  }
}

@media (max-width: 1260px) {
  .TheMain {
    font-size: 1.4rem;
  }
  .parallax_section {
    .parallax_section_content {
      .scroll-down-icon {
        margin-top: 10vh;
      }
    }
  }
}

@media (max-width: 992px) {
  .parallax_section {
    .parallax_section_content {
      .project-name {
        margin-top: 25vh;
      }
      .scroll-down-icon {
        margin-top: 5vh;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .TheMain {
    font-size: 1.3rem;
  }
  .parallax_section {
    .parallax_section_content {
      font-size: 1.2rem;
      background-attachment: initial;
      .project-name {
        width: 80%;
      }
      .scroll-down-icon {
        margin-top: 20vh;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .parallax_section {
    .parallax_section_content {
      .project-subheading {
       margin: 1vh 2rem;
      }
      .scroll-down-icon {
        display: none;
      }
    }
  }
}

.right-wrap {
  .news {
    .blog-news {
      .post {
        h4 {
          width: 100%;
          font-size: 14px;
          padding-top: 11px;
          font-weight: bold;
        }
      }
      .right-wrap {
        .news {
          .blog-news {
            .post {
              h4 {
                width: 100%;
                font-size: 14px;
                padding-top: 11px;
                font-weight: bold;
              }
              .date {
                padding-top: 10px;
                display: block;
                time {
                  height: 10%;
                }
              }
              .description {
                text-align: start;
                display: inline-flex;
                margin-left: 0%;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .container {
      .right-wrap {
        .news {
          .blog-news {
            .post {
              h4 {
                width: 100%;
                font-size: 14px;
                padding-top: 11px;
                font-weight: bold;
              }

              .date {
                time {
                  display: table-footer-group;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 440px) {
    .container {
      .left-wrap {

        .item-container {
          .item {
            .item-content {

              .btn__content {
                font-size: 8px;
                padding: 0px;

              }
              .read-more-button {
                font-size: 8px;
              }

            }
          }
        }
      }
      .right-wrap {
        .news {
          .blog-news {
            margin-left: 5px;
            .title {
              padding: 1px;
              font-size: 10px !important;
            }
            .post {
              h4 {
                width: 100%;
                font-size: 7px;
                padding-top: 11px;
                font-weight: bold;
              }

              .date {
                padding: 5px 10px;
                h4 {
                  a {
                    font-size: 10px;
                  }
                }
                time {
                  font-size: 10px;
                  display: table-footer-group;
                }
              }
              .description {
                p {
                  font-size: 8px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 340px) {
    .container {

      .left-wrap {
        .greeting {

          .subheading {
            font-size: 13px !important;
          }
        }
      }
      .right-wrap {
        .news {
          .blog-news {
            margin-left: 5px;
            .title {
              display: inline-flex;
              padding: 5px;
            }
            .post {

              .date {
                padding: 5px 10px;
                h4 {
                  padding-top: 0px;
                  a {
                    font-size: 7px;
                  }
                }
                time {
                  font-size: 10px;
                  display: table-footer-group;
                }
              }
              .description {
                p {
                  font-size: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}
