.TheOlympiad {
  .TheOlympiad_content {
    min-height: 100%;
    overflow: hidden;
    margin: 1% 3.5%;
    background: #fff;
    font-size: 16px;
    text-align: left;

    .delay-attention {
      margin-bottom: 50px;
      font-size: 22px;

      .bold {
        font-weight: bold;
      }
    }

    .steps {
      margin-top: 10px;
      margin-left: 2%;
      li {
        .step {
          font-size: 18px;
          font-weight: 600;
        }
        ol {
          margin-left: 3%;
          margin-bottom: 1.5%;
        }
      }
    }
    .registration_button {

    }
  }
}




