.specialities {
  .information-tab {
    padding: 0;
  }

  .specialities-toolbar {
    border-bottom: 1px solid #384d62;
    width: 100%;

    .toolbar__content {
      justify-content: center;
    }

  }

  .information-tab {
    overflow: auto;
  }

  .specialities-tabs {
    height: 70px;
    div {
      overflow: hidden;
    }

    .tabs__li {
      flex: 0 1 100%;
      .tabs__item {
        margin-left: 0 !important;
      }
    }
  }

  .tabs__items {
    .datatable {
      width: 95%;
      margin: auto;

      tr {
        th, td {
          text-align: center !important;
          vertical-align: middle;
          padding: 0.5%;
          height: auto;
        }
      }
    }
  }
  .specialities-content {
    background: #fff;
    padding: 2% 5%;

    .info_specialities {

    }
  }

}

.blue-background {
  background: #05384d !important;
}

.specialities-content {

  padding: 10px;
  text-align: left;

  .nure-video {
    position: relative !important;
    overflow: hidden;
    //iframe {
    //  width: 90%;
    //}
    margin: 25px auto;
  }

  h1 {
    margin-bottom: 2%;
  }
}

h5 {
  font-weight: bold;
}

@media screen and (max-width: 900px) {

  .specialities {
    .specialities-content {

      h1 {
        margin-bottom: 25px;
        font-size: 25px;
      }
      .info_specialities {
        width: 100%;

        h5 {
          font-size: 15px;
        }
        .info_text {
          font-size: 13px;

        }
      }
    }
  }
}

