.specialities {
  background: #fff;
  padding: 190px 0 50px 0;
  font-size: 1rem;

  .specialities-toolbar {
    height: 100%;

    .toolbar__content {
      height: 100% !important;
      .toolbar-title {
        text-transform: uppercase;
        white-space: pre-wrap;
        height: 100%;
      }
    }
  }


  .information-tab {
    padding: 0;
  }

  .specialities-toolbar {
    width: 100%;

    .toolbar__content {
      justify-content: center;
    }
  }

  .information-tab {
    overflow: auto;
  }

  .specialities-tabs {
    height: 70px;
    padding: 0 5%;
    div {
      overflow: hidden;
    }

    .tabs__container {
      padding: 0 5%;
      .tabs__li {
        flex: 0 1 100%;
        .tabs__item {
          margin-left: 0 !important;
        }
      }
    }

  }

  .tabs__items {
    .datatable {
      width: 95%;
      margin: auto;

      tr {
        th, td {
          text-align: center !important;
          vertical-align: middle;
          padding: 0.5%;
          height: auto;
        }
      }
    }
  }
  .specialities-content {
    background: #fff;
    padding: 50px 10%;

    .info_specialities {

    }
  }

}

.default_grey-background {
  background: $default_grey !important;
}

.specialities-content {
  padding: 10px;
  text-align: left;

  .nure-video {
    position: relative !important;
    overflow: hidden;
    margin: 25px auto;
  }

  h1 {
    margin-bottom: 2%;
  }
}

h5 {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .specialities {
    font-size: 0.8rem;
  }
}


